:root{
	--primary-color: #f8f8f8;
	--secondary-color: rgb(239, 206, 250);
	--box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	text-decoration: none;
}

.main{
	display: grid;
	grid-template-columns: 25% 1fr;
}

.profile{
	min-width: 40%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding: 80px 10px 30px;
	margin: 30px 15px;
	background-color: var(--primary-color);
	box-shadow: var(--box-shadow);
	border-radius: 20px;
	font-size: 1vw;
}

.profilepic{
	width: 50%;
	border-radius: 24px;
	margin-bottom: 24px;
}

.name{
	text-align: center;
}

.att{
	margin-bottom: 80px;
}

.skills{
	margin-bottom: 120px;
}

.contact{
	margin-top: 30px;
}

.page{
	display: grid;
	grid-template-rows: 6% 1fr;
	margin: 30px 15px 0px 0px;
}

.btn{
	display: flex;
	flex-direction: row;
	justify-content: end;
}

a:hover{
	padding: 5px;
	margin: 0px 16px;
	border-radius: 0% 5% 0% 5%;
	background-color: lightpink;
}

.mainpage{
	background-color: lightpink;
}
