<!DOCTYPE html>
<html>
<head>
	<title> Profile | Joey Glenn </title>
	<link rel="stylesheet" href="styles/style.css">

</head>
<body>

	<div class="main">
		<!-- profile info -->
		<div class="profile">
			<img class="profilepic" src="thumbnails/profile.png">
			<h2 class="name"> SILDORA, JOEY GLENN </h2>
			<p class="att"> Developer </p>
			<h3> CONTACT </h3>
			<p class="contact"> joeyglennsildora@gmail.com </p>
			<p class="contact"> +63 9763150727 </p>
		</div>
		<!-- main page -->
		<div class="page">
			<div class="btn">
				<a href="#"> About </a>
				<a href="#"> Portfolio </a>
			</div>
			<div class="mainpage">
				<p> show click here </p>
			</div>
		</div>
	<div>

</body>
</html>
